.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 16px;
    background: #13161D;
    padding: 12px 17px;

    /*min-width: 486px;*/
}

.loaderContainer {
    height: 644px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
