.header {
    display: flex;
    align-items: center;
    background: #13161D;
    color: #4c566a;
    padding: 0 25px 20px 25px;
    gap: 5px;
}

.columnHeader {
    flex: 1;
    text-align: center;
    max-width: 150px;
}
